workflow-1-trial-onboarding.json
{
  "name": "Trial Onboarding Automation - CryptoTrade Academy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whop-trial-started",
        "responseMode": "onReceived"
      },
      "id": "webhook-trigger",
      "name": "Whop Trial Started Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "whop-trial-started"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "market-en",
                    "leftValue": "={{ $json.body.market || $json.body.data?.market }}",
                    "rightValue": "EN",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "EN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "market-ar",
                    "leftValue": "={{ $json.body.market || $json.body.data?.market }}",
                    "rightValue": "AR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "AR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "market-ko",
                    "leftValue": "={{ $json.body.market || $json.body.data?.market }}",
                    "rightValue": "KO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "KO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "market-ja",
                    "leftValue": "={{ $json.body.market || $json.body.data?.market }}",
                    "rightValue": "JA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "JA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "market-es",
                    "leftValue": "={{ $json.body.market || $json.body.data?.market }}",
                    "rightValue": "ES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "market-pt",
                    "leftValue": "={{ $json.body.market || $json.body.data?.market }}",
                    "rightValue": "PT-BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "PT-BR"
            }
          ]
        },
        "fallbackOutput": "default"
      },
      "id": "router-market",
      "name": "Market Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.user_email || $json.body.data?.user_email }}",
        "subject": "Welcome to CryptoTrade Academy 🎓",
        "emailType": "html",
        "message": "<p>Hi {{ $json.body.user_name || $json.body.data?.user_name }},</p><p>Your 1-Day Free Trial just started.</p><p>Your first briefing arrives in 6 hours. Join Telegram now:<br>[Telegram Link]</p><p>What to expect:<br>- 2-6 briefings today<br>- 60-second reads<br>- BUG STANDBY alerts</p><p>Cancel anytime in Dashboard → Settings.</p><p>See you in 6 hours.<br>CryptoTrade Academy</p>"
      },
      "id": "welcome-email",
      "name": "Welcome Email (EN)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 6,
        "unit": "hours"
      },
      "id": "wait-6h",
      "name": "Wait 6 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.user_email || $json.body.data?.user_email }}",
        "subject": "Your first briefing is live 🛡️",
        "emailType": "html",
        "message": "<p>Hi {{ $json.body.user_name || $json.body.data?.user_name }},</p><p>Your first BUG STANDBY briefing just arrived in Telegram.</p><p>Check it now: [Telegram Link]</p><p>Context → Decision → What to watch. 60 seconds.</p><p>This is what $69/month gets you. Every day.</p><p>Trial ends in 18 hours.<br>CryptoTrade Academy</p>"
      },
      "id": "value-email",
      "name": "Value Email (6h later)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1050, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 12,
        "unit": "hours"
      },
      "id": "wait-12h",
      "name": "Wait 12 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.user_email || $json.body.data?.user_email }}",
        "subject": "Your trial ends in 6 hours",
        "emailType": "html",
        "message": "<p>Hi {{ $json.body.user_name || $json.body.data?.user_name }},</p><p>Your trial ends in 6 hours.</p><p>You received {{ $json.body.briefing_count || 2 }} trap alerts. 0 false signals.</p><p>Next trap could cost $16,000.</p><p>Continue Protection: $69/month<br>Cancel: Dashboard → Settings (2 clicks)</p><p>Your choice.<br>CryptoTrade Academy</p>"
      },
      "id": "trial-end-email",
      "name": "Trial End Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [1450, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.whop.com/api/v2/memberships/' + ($json.body.membership_id || $json.body.data?.membership_id) }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_WHOP_API_KEY"
            }
          ]
        }
      },
      "id": "check-payment",
      "name": "Check Whop Payment Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "paid",
                    "leftValue": "={{ $json.status || $json.data?.status }}",
                    "rightValue": "active",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "paid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cancelled",
                    "leftValue": "={{ $json.status || $json.data?.status }}",
                    "rightValue": "cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "cancelled"
            }
          ]
        },
        "fallbackOutput": "default"
      },
      "id": "router-payment",
      "name": "Payment Status Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.user_email || $json.body.data?.user_email }}",
        "subject": "You're now protected 🛡️",
        "emailType": "html",
        "message": "<p>Hi {{ $json.body.user_name || $json.body.data?.user_name }},</p><p>You're now protected.</p><p>Next briefing: Today 18:00 UTC<br>Cancel method: Dashboard → Settings → Cancel</p><p>We remind you 7 days before each charge.</p><p>Stay safe.<br>CryptoTrade Academy</p>"
      },
      "id": "thank-you-email",
      "name": "Thank You Email (Paid)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2050, 100],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.user_email || $json.body.data?.user_email }}",
        "subject": "We're sorry to see you go",
        "emailType": "html",
        "message": "<p>Hi {{ $json.body.user_name || $json.body.data?.user_name }},</p><p>Your trial ended. We're sorry you didn't see value.</p><p>Quick question: Why did you cancel?<br>[Survey Link - 1 question]</p><p>Your feedback helps us improve.</p><p>If you change your mind: [Restart Link]</p><p>Thank you,<br>CryptoTrade Academy</p>"
      },
      "id": "feedback-email",
      "name": "Feedback Request (Cancelled)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2050, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Whop Trial Started Webhook": {
      "main": [
        [
          {
            "node": "Market Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Router": {
      "main": [
        [
          {
            "node": "Welcome Email (EN)",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "Welcome Email (EN)": {
      "main": [
        [
          {
            "node": "Wait 6 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 6 Hours": {
      "main": [
        [
          {
            "node": "Value Email (6h later)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Value Email (6h later)": {
      "main": [
        [
          {
            "node": "Wait 12 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 12 Hours": {
      "main": [
        [
          {
            "node": "Trial End Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trial End Notification": {
      "main": [
        [
          {
            "node": "Check Whop Payment Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Whop Payment Status": {
      "main": [
        [
          {
            "node": "Payment Status Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Status Router": {
      "main": [
        [
          {
            "node": "Thank You Email (Paid)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feedback Request (Cancelled)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-XX",
  "versionId": "1"
}

