workflow-cursor-vercel-deploy.json
{
  "name": "Cursor-Vercel Direct Deployment Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cursor-vercel-deploy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "cursor-vercel-deploy"
    },
    {
      "parameters": {
        "jsCode": "// GitHub Webhook データを解析してVercelデプロイ用に整形\nconst body = $input.item.json.body;\nconst headers = $input.item.json.headers || {};\n\n// GitHub Event Typeを取得\nconst eventType = headers['x-github-event'] || body.event || 'push';\n\n// リポジトリ情報を取得\nconst repository = body.repository || {};\nconst ref = body.ref || 'refs/heads/main';\nconst branch = ref.replace('refs/heads/', '');\n\n// PR情報（PRイベントの場合）\nconst pullRequest = body.pull_request || {};\nconst isMerged = pullRequest.merged === true;\nconst prNumber = pullRequest.number;\n\n// デプロイ条件を判定\nlet shouldDeploy = false;\nlet deployReason = '';\n\nif (eventType === 'push' && branch === 'main') {\n  shouldDeploy = true;\n  deployReason = `Push to main branch: ${body.head_commit?.message || 'No message'}`;\n} else if (eventType === 'pull_request' && isMerged && branch === 'main') {\n  shouldDeploy = true;\n  deployReason = `PR #${prNumber} merged to main`;\n} else if (eventType === 'workflow_dispatch') {\n  shouldDeploy = true;\n  deployReason = 'Manual workflow dispatch';\n}\n\n// Vercelデプロイ用データを準備\nreturn [{\n  json: {\n    eventType,\n    repository: {\n      name: repository.name || 'hadayalab-automation-platform',\n      fullName: repository.full_name || 'hadayalab-web/hadayalab-automation-platform',\n      branch,\n      commit: body.head_commit?.id || body.after || 'unknown',\n      commitMessage: body.head_commit?.message || pullRequest.title || 'No message',\n      author: body.head_commit?.author?.name || pullRequest.user?.login || 'unknown'\n    },\n    shouldDeploy,\n    deployReason,\n    pullRequest: {\n      number: prNumber,\n      title: pullRequest.title,\n      merged: isMerged\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-github-event",
      "name": "Parse GitHub Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-deploy",
              "leftValue": "={{ $json.shouldDeploy }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-deploy-condition",
      "name": "Check Deploy Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.vercel.com/v13/deployments",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.VERCEL_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.repository.name }}"
            },
            {
              "name": "gitSource",
              "value": "={{ { type: 'github', repo: $json.repository.fullName, ref: $json.repository.branch } }}"
            },
            {
              "name": "projectSettings",
              "value": "={{ { framework: null, buildCommand: null, devCommand: null, installCommand: null, outputDirectory: null } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-vercel-deploy",
      "name": "Trigger Vercel Deployment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Vercelデプロイレスポンスを解析\nconst deployResponse = $input.item.json;\n\nreturn [{\n  json: {\n    deploymentId: deployResponse.id || deployResponse.uid,\n    deploymentUrl: deployResponse.url,\n    state: deployResponse.readyState || 'BUILDING',\n    createdAt: deployResponse.createdAt || new Date().toISOString(),\n    repository: $('Parse GitHub Event').item.json.repository,\n    deployReason: $('Parse GitHub Event').item.json.deployReason\n  }\n}];"
      },
      "id": "parse-deploy-response",
      "name": "Parse Deploy Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-for-deploy",
      "name": "Wait 10 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.vercel.com/v13/deployments/{{ $json.deploymentId }}",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.VERCEL_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-deploy-status",
      "name": "Check Deploy Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ready",
                    "leftValue": "={{ $json.readyState || $json.state }}",
                    "rightValue": "READY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "error",
                    "leftValue": "={{ $json.readyState || $json.state }}",
                    "rightValue": "ERROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "building",
                    "leftValue": "={{ $json.readyState || $json.state }}",
                    "rightValue": "BUILDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "building"
            }
          ]
        },
        "fallbackOutput": "default"
      },
      "id": "route-deploy-status",
      "name": "Route Deploy Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait 30 Seconds (Retry)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.readyState || $json.state }}"
            },
            {
              "name": "deploymentUrl",
              "value": "={{ $json.url || $json.url }}"
            },
            {
              "name": "deploymentId",
              "value": "={{ $json.id || $json.uid }}"
            },
            {
              "name": "message",
              "value": "=Deployment successful! 🚀"
            }
          ]
        },
        "options": {}
      },
      "id": "build-success-response",
      "name": "Build Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "={{ $json.readyState || $json.state }}"
            },
            {
              "name": "deploymentUrl",
              "value": "={{ $json.url || 'N/A' }}"
            },
            {
              "name": "deploymentId",
              "value": "={{ $json.id || $json.uid }}"
            },
            {
              "name": "error",
              "value": "={{ $json.error || 'Unknown error' }}"
            },
            {
              "name": "message",
              "value": "=Deployment failed ❌"
            }
          ]
        },
        "options": {}
      },
      "id": "build-error-response",
      "name": "Build Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2050, 250]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "=skipped"
            },
            {
              "name": "message",
              "value": "=Deployment skipped (not main branch or not merged PR)"
            },
            {
              "name": "reason",
              "value": "={{ $json.deployReason || 'Condition not met' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "build-skip-response",
      "name": "Build Skip Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [850, 400]
    }
  ],
  "connections": {
    "GitHub Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse GitHub Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GitHub Event": {
      "main": [
        [
          {
            "node": "Check Deploy Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deploy Condition": {
      "main": [
        [
          {
            "node": "Trigger Vercel Deployment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Vercel Deployment": {
      "main": [
        [
          {
            "node": "Parse Deploy Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Deploy Response": {
      "main": [
        [
          {
            "node": "Wait 10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Seconds": {
      "main": [
        [
          {
            "node": "Check Deploy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deploy Status": {
      "main": [
        [
          {
            "node": "Route Deploy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Deploy Status": {
      "main": [
        [
          {
            "node": "Build Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30 Seconds (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 30 Seconds (Retry)": {
      "main": [
        [
          {
            "node": "Check Deploy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Skip Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T00:00:00.000Z",
  "versionId": "1"
}

