workflows/cursor-chatwork-workspace-control.json
{
  "name": "google-workspace-chatwork-control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "google-workspace-chatwork-control",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "google-workspace-chatwork-control"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "gmail_send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gmail_send"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "sheets_read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sheets_read"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-3",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "chatwork_send_message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwork_send_message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-4",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "chatwork_create_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwork_create_task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-5",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "calendar_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-6",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "calendar_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar_create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-7",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "calendar_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar_update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-8",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "calendar_delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-9",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "drive_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "drive_list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-10",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "drive_upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "drive_upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-11",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "drive_download",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "drive_download"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.body.to }}",
        "subject": "={{ $json.body.subject }}",
        "message": "={{ $json.body.message }}",
        "options": {
          "replyTo": "={{ $json.body.replyTo }}"
        }
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 200],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2 account for admin@cryptotradeacademy.io",
          "type": "gmailOAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2",
        "documentId": "={{ $json.body.spreadsheetId }}",
        "sheetName": "={{ $json.body.sheetName }}",
        "range": "={{ $json.body.range }}",
        "options": {}
      },
      "id": "sheets-read",
      "name": "Google Sheets Read",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2": {
          "name": "Google Sheets OAuth2 account for admin@cryptotradeacademy.io",
          "type": "googleSheetsOAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.chatwork.com/v2/rooms/{{ $json.body.roomId }}/messages",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "={{ $env.CHATWORK_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "formUrlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatwork-send-message",
      "name": "Chatwork Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400],
      "webhookId": ""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.chatwork.com/v2/rooms/{{ $json.body.roomId }}/tasks",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "sendQuery": false,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-ChatWorkToken",
              "value": "=e973fd7311ae06d1deb377bd1ecb7d8e"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "formUrlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.body.taskBody }}"
            },
            {
              "name": "to_ids",
              "value": "={{ $json.body.toIds }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.body.limit }}"
            }
          ]
        },
        "options": {}
      },
      "id": "chatwork-create-task",
      "name": "Chatwork Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendarId": {
          "__rl": true,
          "value": "={{ $json.body.calendarId || 'primary' }}",
          "mode": "id"
        },
        "options": {
          "q": "={{ $json.body.query }}",
          "timeMin": "={{ $json.body.timeMin }}",
          "timeMax": "={{ $json.body.timeMax }}",
          "maxResults": "={{ $json.body.maxResults || 250 }}"
        }
      },
      "id": "calendar-list",
      "name": "Calendar List",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [650, 600],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "={{ $json.body.calendarId || 'primary' }}",
          "mode": "id"
        },
        "start": "={{ $json.body.start }}",
        "end": "={{ $json.body.end }}",
        "additionalFields": {
          "summary": "={{ $json.body.summary }}",
          "description": "={{ $json.body.description }}",
          "location": "={{ $json.body.location }}",
          "attendees": "={{ $json.body.attendees }}",
          "sendUpdates": "={{ $json.body.sendUpdates || 'none' }}"
        }
      },
      "id": "calendar-create",
      "name": "Calendar Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [650, 700],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendarId": {
          "__rl": true,
          "value": "={{ $json.body.calendarId || 'primary' }}",
          "mode": "id"
        },
        "eventId": {
          "__rl": true,
          "value": "={{ $json.body.eventId }}",
          "mode": "id"
        },
        "updateFields": {
          "summary": "={{ $json.body.summary }}",
          "description": "={{ $json.body.description }}",
          "location": "={{ $json.body.location }}",
          "start": "={{ $json.body.start }}",
          "end": "={{ $json.body.end }}",
          "attendees": "={{ $json.body.attendees }}",
          "sendUpdates": "={{ $json.body.sendUpdates || 'none' }}"
        }
      },
      "id": "calendar-update",
      "name": "Calendar Update",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [650, 800],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendarId": {
          "__rl": true,
          "value": "={{ $json.body.calendarId || 'primary' }}",
          "mode": "id"
        },
        "eventId": {
          "__rl": true,
          "value": "={{ $json.body.eventId }}",
          "mode": "id"
        },
        "options": {
          "sendUpdates": "={{ $json.body.sendUpdates || 'none' }}"
        }
      },
      "id": "calendar-delete",
      "name": "Calendar Delete",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [650, 900],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "options": {
          "q": "={{ $json.body.query }}",
          "pageSize": "={{ $json.body.pageSize || 100 }}",
          "fields": "={{ $json.body.fields || 'files(id, name, mimeType, modifiedTime, size)' }}"
        }
      },
      "id": "drive-list",
      "name": "Drive List",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3.1,
      "position": [650, 1000],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.body.fileName }}",
        "binaryData": true,
        "options": {
          "parents": "={{ $json.body.folderId }}",
          "appProperties": "={{ $json.body.appProperties }}"
        }
      },
      "id": "drive-upload",
      "name": "Drive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3.1,
      "position": [650, 1100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.body.fileId }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.body.fileName }}"
        }
      },
      "id": "drive-download",
      "name": "Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3.1,
      "position": [650, 1200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive OAuth2 account for admin@cryptotradeacademy.io"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"data\": $json } }}",
        "options": {}
      },
      "id": "format-success-response",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || $json.message || \"Unknown error\" } }}",
        "options": {},
        "responseCode": 500
      },
      "id": "format-error-response",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]]
    },
    "Switch Action": {
      "main": [
        [{ "node": "Gmail Send", "type": "main", "index": 0 }],
        [{ "node": "Google Sheets Read", "type": "main", "index": 0 }],
        [{ "node": "Chatwork Send Message", "type": "main", "index": 0 }],
        [{ "node": "Chatwork Create Task", "type": "main", "index": 0 }],
        [{ "node": "Calendar List", "type": "main", "index": 0 }],
        [{ "node": "Calendar Create", "type": "main", "index": 0 }],
        [{ "node": "Calendar Update", "type": "main", "index": 0 }],
        [{ "node": "Calendar Delete", "type": "main", "index": 0 }],
        [{ "node": "Drive List", "type": "main", "index": 0 }],
        [{ "node": "Drive Upload", "type": "main", "index": 0 }],
        [{ "node": "Drive Download", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Send": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Google Sheets Read": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Chatwork Send Message": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Chatwork Create Task": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Calendar List": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Calendar Create": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Calendar Update": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Calendar Delete": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Drive List": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Drive Upload": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    },
    "Drive Download": {
      "main": [[{ "node": "Format Success Response", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
