workflows/simple-time-check.json
{
  "name": "simple-time-check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "simple-time-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "simple-time-check"
    },
    {
      "parameters": {
        "url": "https://worldtimeapi.org/api/timezone/Asia/Tokyo",
        "options": {}
      },
      "id": "http-request-1",
      "name": "Get Current Time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-1",
              "name": "message",
              "value": "=Current time in Tokyo: {{ $json.datetime }}",
              "type": "string"
            },
            {
              "id": "assignment-2",
              "name": "timezone",
              "value": "={{ $json.timezone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-to-webhook-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300],
      "webhookId": "simple-time-check"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Current Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Time": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["test", "experiment", "simple"],
  "triggerCount": 0,
  "updatedAt": "2025-01-24T00:00:00.000Z",
  "versionId": "1"
}


